{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Image Search</h1>
    <form id="searchForm" method="post" enctype="multipart/form-data" action="/perform_search">
        <input type="file" name="image" accept=".jpg, .jpeg, .png, .heic" required>
        <input type="number" name="num_results" placeholder="Number of images to retrieve" min="1" value="3">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
{% endblock %}
